@{
    ViewData["Title"] = "Bid Area";
}
<nav class="navbar navbar-inverse navbar-fixed-top bg-dark">
    <div class="row">
        <a asp-area="" asp-controller="Home" asp-action="Home" class="navbar-brand text-white">Bright Ideas</a>
    </div>
    <div class="row ml-3 pull-right">
        <a asp-area="" asp-controller="Home" asp-action="Logout" class="navbar-brand text-white">Log off</a>
    </div>
</nav>
@{
    foreach (var posts in @ViewBag.Result)
    {
        <div class="row justify-content-start mt-5 offset-md-5">
            <div class="col-6">
                <h3>@posts.User.Name says: @posts.Idea</h3>
            </div>
        </div>
        <div class="row justify-content-start mt-2 ml-5">
            <div class="col-6">
               
            </div>
        </div>
        <h3>People who liked the post:</h3>
        <p>@ViewBag.Alias</p>
        <p>@ViewBag.Name</p>
        foreach (var user in @posts.likes)
        {
            <div class="row justify-content-start mt-2 ml-5">
                <div class="col-6">
                    <p>Alias: @user.User.Alias</p>
                    <p>Name: @user.User.Name</p>
                </div>
            </div>
        }
    }
}